body {
  background-color: tomato;
}

.header {
  background-image: url('https://media.giphy.com/media/PEf5lEBpviP72/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}